@import '../main.css';
@import '../styles-components/header-footer.css';
@import '../styles-components/servicos-detalhados.css';
@import '../styles-components/orcamento.css';
@import '../styles-components/secao-suporte-site.css';
@import '../styles-components/topo-servicos.css';
@import '../styles-components/carrossel.css';
@import '../styles-components/que-fazemos.css';

.sobre-topo {
    background-image: url(/img/);
    padding: 40px 0px;
}

.sobre-topo p {
    margin-top: 20px;
    width: 60%;
    margin: 0 auto;
}

.nosso-time {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.titulo-nosso-time {
    text-align: center;
    color: var(--marrom);
    padding: 20px 0px;
}

.time {
    width: 600px;
    height: 220px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 1px 2px 15px -3px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}    

.time-img {
    width: 200px;
    border-radius: 15px;
}

.time-txt {
    padding-left: 20px;
    padding-right: 10px;
}

.time-txt p {
    padding: 5px 0px;
    line-height: 20px;
}

.time-txt h3 {
    font-size: 20px;
    color: var(--marrom);
}

.time-txt i {
    font-size: 30px;
    color: var(--amarelo-claro);
}


