.secao-calltoAction {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(226, 226, 226, 0.1843137255);
}
  
.img-toAction {
  width: 50%;
}

.img-toAction img {
  display: block;
  width: 410px;
  height: 100%;
}

.txt-toAction {
  width: 80%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.txt-toAction h2 {
  color: #432921;
}

.txt-toAction p {
  margin-bottom: 10px;
  font-size: 18px;
  color: #151515;
}

.txt-toAction a {
  color: #ffffff;
  padding: 10px 30px;
  background-color: #fa9b04;
  border-radius: 20px;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}

.txt-toAction a:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .secao-calltoAction {
    background-color: rgba(251, 189, 5, 0.8078431373);
  }

  .secao-calltoAction .img-toAction {
    width: 100%;
  }

  .secao-calltoAction .img-toAction img {
    width: 100%;
    max-height: 50vh;
    -o-object-fit: cover;
        object-fit: cover;
    opacity: 0.3;
  }

  .secao-calltoAction .txt-toAction {
    position: absolute;
    gap: 40;
    height: auto;
  }

  .secao-calltoAction .txt-toAction .btn-calltoaction {
    background-color: #ffffff;
    color: #fa9b04;
  }
}
@media screen and (max-width: 768px) {
  .secao-calltoAction {
    background-color: rgba(251, 189, 5, 0.8078431373);
    overflow: hidden;
  }

  .secao-calltoAction .img-toAction {
    width: 100%;
  }

  .secao-calltoAction .img-toAction img {
    width: 100%;
    max-height: 50vh;
    -o-object-fit: cover;
    object-fit: cover;
    opacity: 0.3;
    transform: scale(1.5);
  }

  .secao-calltoAction .txt-toAction {
    position: absolute;
    gap: 40;
    height: auto;
  }
  
  .secao-calltoAction .txt-toAction .btn-calltoaction {
    background-color: #ffffff;
    color: #fa9b04;
  }
}