.secao-topo {
    display: flex;
    justify-content: Space-around;
    align-items: center;
    margin-top: 75px;
    height: calc(100vh - 75px);
    min-height: 550px;
}

.secao-topo .texto-topo {
    width: 50%;
    height: auto;
    padding: 30px 30px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

.secao-topo .texto-topo h2 {
    font-size: 40px;
    color: var(--marrom);
}

.secao-topo .texto-topo p {
    font-size: 18px;
}

.secao-topo .texto-topo a {
    color: #ffffff;
    padding: 10px 35px;
    background-color: #FCCB05;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.secao-topo img {
    object-fit: cover;
    width: 50%;
    height: 100%;
}

